<!-- Breadcrumbs for articles -->
{{ $urlParts := sub (len (split .RelPermalink "/")) 2 }}

<!-- Subsection pages -->
{{ if eq $urlParts 2 }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
  "@type": "ListItem",
  "position": 1,
  "name": "{{ .Site.Title }}",
  "item": "{{ .Site.BaseURL }}"
},{
  "@type": "ListItem",
  "position": 2,
  "name": "{{ .Params.fKW }}",
  "item": "{{ .CurrentSection.Permalink }}"
},{
  "@type": "ListItem",
  "position": 3,
  "name": "{{ .Title }}",
  "item": "{{ .Permalink }}"
}]
}
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ .Params.fKW }}",
    "image": "{{ .Params.img }}",
    "datePublished": "{{ .PublishDate }}",
    "dateModified": "{{ .PublishDate }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}",
        "url": "https://sikalang.pages.dev/p/kontak-kami/"
      }
  }
</script>


<!-- Check for main section pages and meta pages (about, disclaimer) -->
{{ else if eq $urlParts 1 }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
  "@type": "ListItem",
  "position": 1,
  "name": "{{ .Site.Title }}",
  "item": "{{ .Site.BaseURL }}"
},{
  "@type": "ListItem",
  "position": 2,
  "name": "{{ .Params.fkw }}",
  "item": "{{ .Permalink }}"
}]
}
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ .Title }}",
    "image": "{{ .Params.img }}",
    "datePublished": "{{ .PublishDate }}",
    "dateModified": "{{ .PublishDate }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}",
        "url": "https://sikalang.pages.dev/p/kontak-kami/"
      }
  }
</script>
{{ end }}
