<related>
  {{ $related := .Site.RegularPages.Related . | first 10 }}
  {{ with $related }}
  <div class="d-g gg-15 body">
    <span class="d-f ai-c gg-10"><h2 class="d-f ai-c gg-10 body">Artikel Lainnya</h2></span>
    <div class="d-g gg-15">
      {{ range . }}
      <article itemtype="https://schema.org/CreativeWork" itemscope>
        <a class="d-f ai-c gg-15 mb-7 o-h" href="{{ .Permalink }}" rel="bookmark">
          📃
          <h3 class="o-h to-e d-1le" itemprop="headline">
            {{ .Title }}
          </h3>
        </a>
        <p class="o-h to-e c-3 o-h d-5le" itemprop="text">
          {{- partial "time_ago.html" . -}}— 
          {{ .Summary }}
        </p>
      </article>
      {{ end }}
    </div>
  </div>
  {{ end }}
</related>